<html>
<body style="color: #333;background-color: #f6f6f6;font-family: sans-serif;-webkit-font-smoothing: antialiased;font-size: 13px;line-height: 1.4;margin: 0;padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" class="body" style="background-color: #f6f6f6;width: 100%;">
	<tr>
		<td>&nbsp;</td>
		<td class="container" style="display: block;margin: 0 auto !important;max-width: 580px;padding: 10px;width: 580px;">
			<div class="content" style="box-sizing: border-box;display: block;margin: 0 auto;max-width: 580px;padding: 10px;">
				<table class="main" style="background: #ffffff;border: 1px solid #dedede;border-radius: 3px;width: 100%;">
					<tr>
						<td class="wrapper" style="box-sizing: border-box;padding: 20px;">
							<table border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td>
										<h4 style="margin: 0;font-size: 13px">Estimado(a): </h4>
										<p style="margin: 5px 0;font-size: 14px;"><b>${solicitante}</b></p>
										<p style="font-family:arial;font-size: 14px">Se le informa que su solicitud ha sido actualizada.</p>
										<br/>
										<p style="font-family:arial;font-size: 14px">Puede revisar el estado de su solicitud <a href="${urlAplicativo}">AQU&Iacute;</a> </p>
										<br/>
										<p style="font-family:arial;font-size: 13px;">Atentamente:</p>
										<br/>
										<p style="font-family:arial;font-size: 13px;">SIRTE - Sistema de Registro de Terceros.</p>
 									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<div class="footer" style="clear: both;margin-top: 10px;text-align: center;width: 100%;">
					<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
						<tr>
							<td class="content-block" style="color: #999999;font-size: 12px;text-align: center;">
								<span style="color: #999999;font-size: 12px;text-align: center;" class="apple-link">Organismo de Evaluaci&oacute;n y Fiscalizaci&oacute;n Ambiental - OEFA</span>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</td>
	</tr>
</table>
    </body>
</html>