<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.gob.oefa.sirte.dao.SigaTerceroLocadorDAO">

	<resultMap type="BaseDTO" id="auditory">
		<result column="FLG_FIRST_USUARIO" property="creado" />
		<result column="FLG_LAST_USUARIO" property="modificado" />
		<result column="FLG_DEL_USUARIO" property="eliminado" />
		<result column="FLG_FIRST_FECHA" property="creadoPor" />
		<result column="FLG_LAST_FECHA" property="modificadoPor" />
		<result column="FLG_DEL_FECHA" property="eliminadoPor" />
		<result column="HABILITADO" property="habilitado" />
	</resultMap>

	<resultMap id="sigaTerceroLocadorResultMap"
		type="java.util.Map">
		<result column="DNI" property="dni" jdbcType="VARCHAR" />
		<result column="RUC" property="ruc" jdbcType="VARCHAR" />
		<result column="APELLIDOS_NOMBRES" property="nombrecompleto"
			jdbcType="VARCHAR" />
		<result column="OFICINA" property="oficina" jdbcType="VARCHAR" />
		<result column="NRO_ORDEN_CONTRA" property="nroordencontrato"
			jdbcType="NUMERIC" />
		<result column="DESCRIPCION" property="contratodescripcion"
			jdbcType="VARCHAR" />
		<result column="FECHAINI" property="fechadesde" jdbcType="DATE" />
		<result column="FECHAFIN" property="fechahasta" jdbcType="DATE" />
		<result column="FLGVIGENTE" property="flgvigente"
			jdbcType="VARCHAR" />
		<result column="AREA_SIA" property="area_sia"
			jdbcType="NUMERIC" />
		<result column="NOMBREAREA" property="nombre_area_sia"
			jdbcType="NUMERIC" />
			

	</resultMap>

	<select id="getByParameter" parameterType="java.util.Map"
		statementType="CALLABLE" resultType="java.util.Map">
		{CALL
		SGCORESYS.PKG_SIGA.DATOS_TERCEROS_LOCADORES(
		#{p_idanoproc,jdbcType=VARCHAR,mode=IN},
		#{p_iduejecod,jdbcType=VARCHAR,mode=IN},
		#{p_idppicodigo,jdbcType=VARCHAR,mode=IN},
		#{p_dni,jdbcType=VARCHAR,mode=IN},
		#{p_ruc,jdbcType=VARCHAR,mode=IN},
		#{p_id_area,jdbcType=NUMERIC,mode=IN},
		#{p_nombre,jdbcType=VARCHAR,mode=IN},
		#{p_results,jdbcType=CURSOR,javaType=java.sql.ResultSet,mode=OUT,resultMap=sigaTerceroLocadorResultMap})}
	</select>



</mapper>